
.restaurant-dashboard {
  width: 100%;
  max-width: 1200px; /* You can adjust this value to suit your needs */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; /* This will include padding and border in the element's total width and height */
}

.restaurant-dashboard h1 {
  font-weight: bold;
  text-align: center;
  
}

.restaurant-dashboard h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  
}

.restaurant-details {
  text-align: center;
  display: flex; /* This will make the child elements (the img, h2, p, and button) line up in a row */
  flex-direction: column; /* This will make the child elements stack vertically */
  align-items: center; /* This will center the child elements horizontally */
  justify-content: center; /* This will center the child elements vertically */
}

.logo-placeholder {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin: 0 auto;
}


.order-history {
  display: flex;
  justify-content: space-between;;
}

.rejected-orders, .delivered-orders {
  flex: 1; /* This will make them take up an equal amount of space */
  margin: 0 10px; /* This will give them some space on the sides */
  padding: 10px; /* This will give the content inside them some room */
}
.order,
.order.history {
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Responsive design for screens smaller than 600px */
@media (max-width: 600px) {
  .restaurant-details, .order, .order.history {
    align-items: flex-start;
  }
}