.cartcontainer {
  width: 80%;
  margin: 0 auto;
}

.cartheader {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Adjust the value as needed */
}

.restaurantlogo {
  width: 550px;
  height: 250px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 3%;
  border: 1px solid #ccc;
}

.restaurantinfo h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.restaurantinfo p {
  margin-bottom: 5px;
}

h1 {
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: 700;
}

h2 {
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 15px;
}

h3 {
  font-size: 1.1em;
  margin-top: 10px;
}


.orderitem {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.orderitem input {
  margin-bottom: 5px;
}

.orderitem .editButton {
  margin-bottom: 10px;
  background-color: #1717eb;
}

.orderitem .editButton:hover {
  background-color: #1717eb;
}

.orderitem .deleteButton {
  margin-bottom: 10px;
  background-color:#df1d1d ;
}

.totalorderprice {
  font-size: 1.5em;
  margin: 20px 0;
  font-weight: 700;

}

.cartfooter {
  display: flex;
  justify-content: center;
  margin: 20px 0;

}
.checkoutButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.returntorestaurant {
  background-color: #1717eb;
  margin-left: 7px;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;

}

.orderitem button {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}





