body, html {
  margin: 0;
  padding: 0;
  background-color: white;
}

.landing-page-container {

  text-align: center;
  padding: 15px;
  
}

h1 {
  margin-bottom: 10px;
  font-size: 2.5em;
}

h2 {
  margin-bottom: 30px;
  font-size: 1.5em;
}

.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-button {
  padding: 10px 80px;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #00A898;
  border-radius: 40px;
  margin: 0 auto; 
}

.login-button:hover {
  background-color: #ff763e; 
  color: black;
}

.services {
  margin-top: 100px;
  bottom: 0;
  background-color: #ff763e;
  display: flex;
  border-radius: 10px;
}

.service {
  flex: 1;
  margin: 10px;
  box-sizing: border-box; /* Optional: include the padding and border in the element's total width and height */
  padding: 10px; /* Optional: add some padding inside the boxes */

}
.services .service {
 margin: 10px;

}

.service h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Additional styling */
