
.create-account-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
  }

  .create-account-container a {
    text-align: center;
    display: block;
    color: #007BFF; /* Change this to your preferred color */
    text-decoration: none; /* Removes the underline */
    margin-bottom: 10px; /* Adds some space below the link */
    display: inline-block; /* Allows the margin to take effect */
  }
  
  .create-account-container a:hover {
    color: #0056b3; /* Darkens the color when the link is hovered over */
    text-decoration: underline; /* Adds an underline when the link is hovered over */
  }

  .create-account-container h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .create-account-container h1,
  .create-account-container p {
    text-align: center;
  }
  
  .create-account-container form {
    display: flex;
    flex-direction: column;
  }
  
  .create-account-container input[type="text"],
  .create-account-container input[type="email"],
  .create-account-container input[type="tel"],
  .create-account-container input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-account-container button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-account-container button:hover {
    background-color: #333;
  }
  