h2 {
  font-weight: bold;
}


.order-status-page {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.order-status-header {
  text-align: center;
  /* Add styles for status icons */
}


.order {
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 10px;

}

.order-summary {
  border-top: 1px dashed #000;
  padding-top: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-history {
  display: flex;
  justify-content: space-between;;
}

.rejected-orders, .delivered-orders {
  flex: 1; /* This will make them take up an equal amount of space */
  margin: 0 10px; /* This will give them some space on the sides */
  padding: 10px; /* This will give the content inside them some room */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust this to change the space between the buttons */
}

/* .rejected-orders, .delivered-orders {
  width: 45%; /* Adjust as needed */
 

/* Add additional styles as needed */
